{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>보람서점</title>
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}">
    <!--자동 완성 제이쿼리 함수-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
        .best list > img{
            width: 150px;
            height: 150px;
            float: left;
        }

        #NewBookBox{
            position:relative;
            width: 800px;
            height:150px;
        }
        #SlotNewBooks{overflow: auto;}

        #topic0 img:hover{ cursor: pointer; }
        #topic1 img:hover{ cursor: pointer; }
        #topic2 img:hover{ cursor: pointer; }
        #topic3 img:hover{ cursor: pointer; }
        #topic4 img:hover{ cursor: pointer; }
        #topic5 img:hover{ cursor: pointer; }
        #topic6 img:hover{ cursor: pointer; }
        #topic7 img:hover{ cursor: pointer; }
        #topic8 img:hover{ cursor: pointer; }
        #topic9 img:hover{ cursor: pointer; }

        #topic0 text:hover{ cursor: pointer; }
        #topic1 text:hover{ cursor: pointer; }
        #topic2 text:hover{ cursor: pointer; }
        #topic3 text:hover{ cursor: pointer; }
        #topic4 text:hover{ cursor: pointer; }
        #topic5 text:hover{ cursor: pointer; }
        #topic6 text:hover{ cursor: pointer; }
        #topic7 text:hover{ cursor: pointer; }
        #topic8 text:hover{ cursor: pointer; }
        #topic9 text:hover{ cursor: pointer; }

        #topic0 a:hover{ cursor: pointer; }
        #topic1 a:hover{ cursor: pointer; }
        #topic2 a:hover{ cursor: pointer; }
        #topic3 a:hover{ cursor: pointer; }
        #topic4 a:hover{ cursor: pointer; }
        #topic5 a:hover{ cursor: pointer; }
        #topic6 a:hover{ cursor: pointer; }
        #topic7 a:hover{ cursor: pointer; }
        #topic8 a:hover{ cursor: pointer; }
        #topic9 a:hover{ cursor: pointer; }

        .active img:hover{ cursor:pointer;}
        .active a:hover{ cursor:pointer;}
        .active div:hover{ cursor:pointer;}

        #searchbutton:hover { cursor:pointer;}

        #best_books img:hover{ cursor:pointer;}
        #best_books a:hover{ cursor:pointer;}
        #Best_authors:hover{ cursor:pointer;}

    </style>
    <script>
        $(function(){
            setInterval(function(){
                var div = $("#SlotNewBooks");
                $(".active").first().appendTo(div);
            },1500);
        });
        function findthis(dd){
            var keyword = dd
            var form = $('#fromimage')
            $('#book').val(keyword)
            form.submit();
        }

    </script>
    <script>


        $(function(){
            $('#search').autocomplete({
                //alert('클릭했당')
                source : function(request,response){
                    $.ajax({
                        url:"http://34.64.181.43:9200/novelnori/_search", //노리 분석 완료 인덱스
                        method:"get",
                        async:true,
                        dataType:'json',
                        data:{'q':"title:" + $('#search').val()}, // title로만 검색
                        success:function(data){
                            var message = data.hits.hits
                            console.log(message)
                            var resultlist = new Array()
                            $.each(message, function(index, item){
                                result = item['_source']['title']
                                resultlist.push(result)
                                console.log(result)
                                //console.log(resultlist)
                            })
                            response(
                                $.map(resultlist,function(item){
                                    return{
                                        label: item
                                    }
                                })
                            )
                        },
                        error:function(request,error){
                            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error)
                        }
                    })
                },
                minLength:1,
                autoFocus:false,
                select:function(evt,ui){
                    console.log('wow')
                },
                focus:function(evt,ui){
                    return false
                },
                close:function(evt){
                }
            })
        })
        $(function() {
            $("#topic0").slideUp()
            $("#topic_slide0").on("click",function(){
                if ($("#towrite0").next().attr('id') =='down') {
                    $("#topic0").slideDown()
                    $("#towrite0").next().replaceWith('<img id="up" src="/static/images/up.png">')
                }
                else if ($("#towrite0").next().attr('id') =='up') {
                    $("#topic0").slideUp()
                    $("#towrite0").next().replaceWith('<img id="down" src="/static/images/down.png">')
                }
            });
            $("#topic1").slideUp()
            $("#topic_slide1").on("click",function(){
                if ($("#towrite1").next().attr('id') =='down') {
                    $("#topic1").slideDown()
                    $("#towrite1").next().replaceWith('<img id="up" src="/static/images/up.png">')
                }
                else if ($("#towrite1").next().attr('id') =='up') {
                    $("#topic1").slideUp()
                    $("#towrite1").next().replaceWith('<img id="down" src="/static/images/down.png">')
                }
            });
            $("#topic2").slideUp()
            $("#topic_slide2").on("click",function(){
                if ($("#towrite2").next().attr('id') =='down') {
                    $("#topic2").slideDown()
                    $("#towrite2").next().replaceWith('<img id="up" src="/static/images/up.png">')
                }
                else if ($("#towrite2").next().attr('id') =='up') {
                    $("#topic2").slideUp()
                    $("#towrite2").next().replaceWith('<img id="down" src="/static/images/down.png">')
                }
            });
            $("#topic3").slideUp()
            $("#topic_slide3").on("click",function(){
                if ($("#towrite3").next().attr('id') =='down') {
                    $("#topic3").slideDown()
                    $("#towrite3").next().replaceWith('<img id="up" src="/static/images/up.png">')
                }
                else if ($("#towrite3").next().attr('id') =='up') {
                    $("#topic3").slideUp()
                    $("#towrite3").next().replaceWith('<img id="down" src="/static/images/down.png">')
                }
            });
            $("#topic4").slideUp()
            $("#topic_slide4").on("click",function(){
                if ($("#towrite4").next().attr('id') =='down') {
                    $("#topic4").slideDown()
                    $("#towrite4").next().replaceWith('<img id="up" src="/static/images/up.png">')
                }
                else if ($("#towrite4").next().attr('id') =='up') {
                    $("#topic4").slideUp()
                    $("#towrite4").next().replaceWith('<img id="down" src="/static/images/down.png">')
                }
            });
            $("#topic5").slideUp()
            $("#topic_slide5").on("click",function(){
                if ($("#towrite5").next().attr('id') =='down') {
                    $("#topic5").slideDown()
                    $("#towrite5").next().replaceWith('<img id="up" src="/static/images/up.png">')
                }
                else if ($("#towrite5").next().attr('id') =='up') {
                    $("#topic5").slideUp()
                    $("#towrite5").next().replaceWith('<img id="down" src="/static/images/down.png">')
                }
            });
            $("#topic6").slideUp()
            $("#topic_slide6").on("click",function(){
                if ($("#towrite6").next().attr('id') =='down') {
                    $("#topic6").slideDown()
                    $("#towrite6").next().replaceWith('<img id="up" src="/static/images/up.png">')
                }
                else if ($("#towrite6").next().attr('id') =='up') {
                    $("#topic6").slideUp()
                    $("#towrite6").next().replaceWith('<img id="down" src="/static/images/down.png">')
                }
            });
            $("#topic7").slideUp()
            $("#topic_slide7").on("click",function(){
                if ($("#towrite7").next().attr('id') =='down') {
                    $("#topic7").slideDown()
                    $("#towrite7").next().replaceWith('<img id="up" src="/static/images/up.png">')
                }
                else if ($("#towrite7").next().attr('id') =='up') {
                    $("#topic7").slideUp()
                    $("#towrite7").next().replaceWith('<img id="down" src="/static/images/down.png">')
                }
            });
            $("#topic8").slideUp()
            $("#topic_slide8").on("click",function(){
                if ($("#towrite8").next().attr('id') =='down') {
                    $("#topic8").slideDown()
                    $("#towrite8").next().replaceWith('<img id="up" src="/static/images/up.png">')
                }
                else if ($("#towrite8").next().attr('id') =='up') {
                    $("#topic8").slideUp()
                    $("#towrite8").next().replaceWith('<img id="down" src="/static/images/down.png">')
                }
            });
            $("#topic9").slideUp()
            $("#topic_slide9").on("click",function(){
                if ($("#towrite9").next().attr('id') =='down') {
                    $("#topic9").slideDown()
                    $("#towrite9").next().replaceWith('<img id="up" src="/static/images/up.png">')
                }
                else if ($("#towrite9").next().attr('id') =='up') {
                    $("#topic9").slideUp()
                    $("#towrite9").next().replaceWith('<img id="down" src="/static/images/down.png">')
                }
            });
            for (var i=0; i<10; i++) {
                var topicre = document.getElementById("towrite"+i).textContent
                var topicchange = topicre.replaceAll(', ',' #')
                $("#towrite"+i).text(topicchange)
            }

        })
    </script>
</head>
<body>

    <!-- 상단바 -->
    <div class="page_head">
        <div id="TopLogo" onclick="location.href='/'">
            <img src="{% static 'images/b3_logo.png' %}" style="width:80px; height:80px;">
        </div>
        <div id="head_signup">

            <a id="title">보람서점</a>
            <form method="post" action="/booksearch/"  id="fromimage">
            {% if not request.session.username %}
            <input type="text" id="search" name="booktitle" placeholder="감성을 담은 온라인 서점, 보람서점" required>
            <input type="submit" value="검색" id="search2">
            <div id="head_signup2">
                <a href="{% url 'signup' %}" id="signup"><span> 회원가입 </span></a>
                <a href="{% url 'login' %}" id="login"><span> 로그인 </span></a>
                <a href="{% url 'customer' %}"id='center'><span>고객센터</span></a>
            {% else %}
                {% if request.session.username == userinfo.userid %}
                <input type="text" id="search" name="booktitle" placeholder="감성을 담은 온라인 서점, 보람서점" required>
                <input type="submit" value="검색" id="search2">
                    <a id="username">{{userinfo.username}}</a>
                    <a style="color: black; top:40px; font-size: 22px; position: relative; left:790px;">님 환영합니다.</a>
                    <a href="{% url 'logout' %}" id="logout"><span> 로그아웃 </span></a>
                    <a href="{% url 'customer' %}"id='center' style="position: relative;top:40px;left:850px;"><span>고객센터</span></a>
                    <a href="{% url 'mypage' %}" id="mp_icon">
                        <img src="{% static 'images/customer.png' %}" style="width:50px; height:50px;">
                    </a>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    <!-- page_body -->
    <div id="body1">
        <div id="image_dark"></div>
        <div class="top">
            <p id="intro">저희는 감성을 판매합니다.</p>
            <p>감성을 담은 온라인 서점, 보람서점</p>
        </div>
    </div>



        <!--검색 정확히 입력안하고 엔터치면 오류-

        <input type="text" id="search" name="booktitle" placeholder="도서명을 검색해주세요 ! " required>
        <input type="submit" id="searchbutton" value="검색">
        -->
        <!--신간리스트-->

        <div id="SlotNewBooks">
            <div id="slot_title">
                <p id="NewBook_title" >신간 도서(매월 둘째 주와 넷째 주 금요일 업데이트)</p>
            </div>
            {% for i,j,k in newbooks5 %}
                <div class="active" style="width:270px;float:left;margin:45px;top: 50px; height: 100px;">
                    <img src="{{ i }}" value="{{ j }}" class="new_images" id="{{j}}" onclick="findthis('{{j}}')">
                    <br>
                    <a id="New_titles" style="width:90px; text-overflow: ellipsis;" onclick="findthis('{{j}}')">{{ j }}</a>
                    <br>
                    <div id="New_authors" onclick="findthis('{{j}}')">{{k}}</div>
                </div>
            {% endfor %}
        </div>
        <!--베스트셀러-->
        <div class="BestList">
            <p id="BestBook_title" >베스트셀러 TOP10(매월 둘째 주와 넷째 주 금요일 업데이트)</p>
            {% for i,j,k in bestbooks10 %}
                <div id="best_books">
                    <img src="{{ i }}" value="{{ j }}" class="best_images" onclick="findthis('{{j}}')">
                    <br>
                    <a style="width:130px; text-overflow: ellipsis;" id="Best_titles" onclick="findthis('{{j}}')">{{ j }}</a>
                    <br>
                    <div id="Best_authors" onclick="findthis('{{j}}')">{{k}}</div>
                </div>
            {% endfor %}
        </div>
        <input type="text" name="book" id="book" style="display: none;">

        <!-- 토픽별 책 추천 -->
        <div id="topic_list">키워드별 도서 추천</div>
         <div style="clear:left " class="topic_title1" id="topic_slide0"><span id="towrite0">#{{ Topic0write }}</span><img id="down" style="right:20px;" src="/static/images/down.png">
            <div style="height :600px;" id="topic0">
                {% for i,j,k in Topic0list %}
                    <div style="float:left; padding:40px ; text-align: center; width: 150px;" onclick="findthis('{{i}}')">
                        <img src="{{ j }}" value="{{ i }}" class="active2">
                        <br>
                        <a style="width:130px; left:300px; text-overflow: ellipsis;" id="topic0_titles">{{ i }}</a>
                        <br>
                        <text style="" id="topic0_authors">{{ k }}</text>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="clear:left;" class="topic_title1" id="topic_slide1"><span id="towrite1">#{{ Topic1write }}</span><img id="down" src="/static/images/down.png">
            <div style="height :600px;" id="topic1">
                {% for i,j,k in Topic1list %}
                    <div style="float:left; padding:40px;text-align: center; width: 150px;" onclick="findthis('{{i}}')">
                        <img src="{{ j }}" value="{{ i }}"class="active2">
                        <br>
                        <a style="text-overflow: ellipsis;"id="topic1_titles">{{ i }}</a>
                        <br>
                        <text style="" id="topic1_authors">{{ k }}</text>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="clear:left" class="topic_title1" id="topic_slide2"><span id="towrite2">#{{ Topic2write }}</span><img id="down" src="/static/images/down.png">
            <div style="height :600px;" id="topic2">
                {% for i,j,k in Topic2list %}
                    <div style="float:left; padding:40px;text-align: center; width: 150px;" onclick="findthis('{{i}}')">
                        <img src="{{ j }}" value="{{ i }}"  class="active2">
                        <br>
                        <a style="text-overflow: ellipsis;"id="topic2_titles">{{ i }}</a>
                        <br>
                        <text style=""id="topic2_authors">{{ k }}</text>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="clear:left" class="topic_title1" id="topic_slide3"><span id="towrite3">#{{ Topic3write }}</span><img id="down" src="/static/images/down.png">
            <div style="height :600px;" id="topic3">
                {% for i,j,k in Topic3list %}
                    <div style="float:left; padding:40px;text-align: center; width: 150px;" onclick="findthis('{{i}}')">
                        <img src="{{ j }}" value="{{ i }}"class="active2">
                        <br>
                        <a style="text-overflow: ellipsis;" id="topic3_titles">{{ i }}</a>
                        <br>
                        <text style="" id="topic3_authors">{{ k }}</text>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="clear:left" class="topic_title1" id="topic_slide4"><span id="towrite4">#{{ Topic4write }}</span><img id="down" src="/static/images/down.png">
            <div style="height :600px;" id="topic4">
                {% for i,j,k in Topic4list %}
                    <div style="float:left; padding:40px;text-align: center; width: 150px;" onclick="findthis('{{i}}')">
                        <img src="{{ j }}" value="{{ i }}" class="active2">
                        <br>
                        <a style="text-overflow: ellipsis;" id="topic4_titles">{{ i }}</a>
                        <br>
                        <text style="" id="topic4_authors">{{ k }}</text>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="clear:left" class="topic_title1" id="topic_slide5"><span id="towrite5">#{{ Topic5write }}</span><img id="down" src="/static/images/down.png">
            <div style="height :600px;" id="topic5">
                {% for i,j,k in Topic5list %}
                    <div style="float:left; padding:40px;text-align: center; width: 150px;" onclick="findthis('{{i}}')">
                        <img src="{{ j }}" value="{{ i }}"class="active2">
                        <br>
                        <a style="text-overflow: ellipsis;"id="topic5_titles">{{ i }}</a>
                        <br>
                        <text style="" id="topic5_authors">{{ k }}</text>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="clear:left" class="topic_title1" id="topic_slide6"><span id="towrite6">#{{ Topic6write }}</span><img id="down" src="/static/images/down.png">
            <div style="height :600px;" id="topic6">
                {% for i,j,k in Topic6list %}
                    <div style="float:left; padding:40px;text-align: center; width: 150px;"  onclick="findthis('{{i}}')">
                        <img src="{{ j }}" value="{{ i }}" class="active2">
                        <br>
                        <a style="text-overflow: ellipsis;" id="topic6_titles">{{ i }}</a>
                        <br>
                        <text style="" id="topic6_authors">{{ k }}</text>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="clear:left" class="topic_title1" id="topic_slide7"><span id="towrite7">#{{ Topic7write }}</span><img id="down" src="/static/images/down.png">
            <div style="height :600px;" id="topic7">
                {% for i,j,k in Topic7list %}
                    <div style="float:left; padding:40px;text-align: center; width: 150px;" onclick="findthis('{{i}}')">
                        <img src="{{ j }}" value="{{ i }}" class="active2">
                        <br>
                        <a style="text-overflow: ellipsis;" id="topic7_titles">{{ i }}</a>
                        <br>
                        <text style="" id="topic7_authors">{{ k }}</text>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="clear:left" class="topic_title1" id="topic_slide8"><span id="towrite8">#{{ Topic8write }}</span><img id="down" src="/static/images/down.png">
            <div style="height :600px;" id="topic8">
                {% for i,j,k in Topic8list %}
                    <div style="float:left; padding:40px;text-align: center; width: 150px;" onclick="findthis('{{i}}')">
                        <img src="{{ j }}" value="{{ i }}" class="active2">
                        <br>
                        <a style="text-overflow: ellipsis;" id="topic8_titles">{{ i }}</a>
                        <br>
                        <text style="" id="topic8_authors">{{ k }}</text>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="clear:left" class="topic_title1" id="topic_slide9"><span id="towrite9">#{{ Topic9write }}</span><img id="down" src="/static/images/down.png">
            <div style="height :600px;" id="topic9">
                {% for i,j,k in Topic9list %}
                    <div style="float:left; padding:40px;text-align: center; width: 150px;" onclick="findthis('{{i}}')">
                        <img src="{{ j }}" value="{{ i }}" class="active2">
                        <br>
                        <a style="text-overflow: ellipsis;" id="topic9_titles">{{ i }}</a>
                        <br>
                        <text style="" id="topic9_authors">{{ k }}</text>
                    </div>
                {% endfor %}
            </div>
        </div>

    </form>

    <div id="page_foot">
        <p id="company_address">(주) 보람상조 | 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)</p>
        <p id = "copyright">Copyright by BoramBooks Co., Ltd. All rights reserved.</p>
    </div>

    

    <script>
        $( document ).ready( function() {
            var error = location.search

            console.log(error)
            if (error.indexOf('false') != -1) {
                alert('도서명을 정확하게 입력해주세요!')
            }
        });
    </script>

</body>
</html>