{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>보람서점</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}">

</head>
<body>
    <!-- 상단바 -->
    <header class="header">

    </header>
    <div class="all">
        <a class="TopLogo" href="{% url 'index' %}">
            <img class='logo' src="{% static 'images/b3_logo.png' %}">
        </a>

        <!-- 로그인 화면 -->
        <div id="login_page_body">
            <div id="login_form">
                <form action="{% url 'login' %}" method="post" id="login_form2">{% csrf_token %}
                    <div id="form_text"> 로 그 인 </div>
                    <div id="form_id"><input type="text" id="login_user_name" name="username" placeholder="아 이 디"></div>
                    <div id="form_pw"> <input type="password" id="login_user_password" name="password" placeholder="비 밀 번 호"></div>
                    <div id="form_login"><input type="submit" id="login_btn" value="로그인"></div>
                </form>
                <div id = form_sign>계정이 없으신가요? <a href="{% url 'signup' %}"><span id="form_signup">가입하기</span></a></div>
            </div>
        </div>
    </div>

{% if errorid %}
    <script>
        $( document ).ready( function() {
            alert('{{ errorid }}')
        });
    </script>
{% endif %}
{% if errorpw %}
    <script>
        $( document ).ready( function() {
                alert('{{ errorpw }}')
        });

    </script>
{% endif %}

    <div id="page_foot">
        <div id="foot_logo"></div>
        <div id="companyinfo">
            <p id="company_address">(주) 보람상조 | 서울특별시 강남구 언주로 508 4층(역삼동, 서울상록빌딩)</p>
            <p id="copyright">Copyright by BoramBooks Co., Ltd. All rights reserved.</p>
        </div>
    </div>
</body>
</html>