{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>보람서점</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}">

    <!-- 개인정보 팝업창 css -->
    <style>
        /*popup*/
        .popup_layer1 {position:fixed;top:0;left:0;z-index: 10000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
        .popup_layer2 {position:fixed;top:0;left:0;z-index: 10000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
        /*팝업 박스*/
        .popup_box{position: relative;top:50%;left:50%; overflow: auto; height: 500px; width:600px;transform:translate(-50%, -50%);z-index:1002;box-sizing:border-box;background:#fff;box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);}
        /*컨텐츠 영역*/
        .popup_box .popup_cont {padding:50px;line-height:1.4rem;font-size:14px; }
        .popup_box .popup_cont h2 {padding:15px 0;color:#333;margin:0;}
        .popup_box .popup_cont p{ border-top: 1px solid #666;padding-top: 30px;}
        /*버튼영역*/
        .popup_box .popup_btn {display:table;table-layout: fixed;width:100%;height:70px;background:#ECECEC;word-break: break-word;}
        .popup_box .popup_btn a {position: relative; display: table-cell; height:70px;  font-size:17px;text-align:center;vertical-align:middle;text-decoration:none; background:#ECECEC;}
        .popup_box .popup_btn a:before{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
        .popup_box .popup_btn a:after{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
        .popup_box .popup_btn a.close_day {background:#5d5d5d;}
        .popup_box .popup_btn a.close_day:before, .popup_box .popup_btn a.close_day:after{display:none;}
        /*오버레이 뒷배경*/
        .popup_overlay{position:fixed;top:0px;right:0;left:0;bottom:0;z-index:1001;;background:rgba(0,0,0,0.5);}
        /*popup*/
    </style>

    <script type= text/javascript>
        $(function(){
            $("#alert-success").hide();
            $("#alert-danger").hide();

            $('.pw').keyup(function(){
                var pwd1 = $('#user_pw').val();
                var pwd2 = $('#user_pw2').val();
                if(pwd1 != "" || pwd2 != ""){
                    if(pwd1 == pwd2){
                        $("#alert-success").show();
                        $('#alert-danger').hide();
                        $("#submit").removeAttr("disabled");
                    }else{
                        $("#alert-success").hide();
                        $('#alert-danger').show();
                        $("#submit").attr("disabled","disabled");
                    }
                }
            })
        })
        $(document).on("keyup", "#user_phone", function(){
             $(this).val($(this).val().replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-"))
        })

    </script>

    <script>
        $(function(){
            $('#target_btn').on('click',function() {
                if (($('#user_id').val() == "") || ($('#user_pw').val() =="")) {
                    alert('다시 입력해주세요')
                }
                else {
                    $('#fornewperson').submit();
                }
            })
        });
    </script>



</head>
<body onload="uncheck()">
    <!-- 상단바 -->
    <!-- css에서 잡아주세요 -->
    <div id="signup_head">
        <a class="TopLogo" href="{% url 'index' %}">
            <img src="{% static 'images/b3_logo.png' %}" width=80px height=80px>
        </a>
        <a id="signup_title" >보람서점</a>
    </div>


    <!-- 회원가입 화면 -->
    <div id="signup_page_body">
        <div id="signup_body">
            <form action="{% url 'signup' %}" method="post" id="fornewperson">{% csrf_token %}

                <div id="form_text">  회  원  가  입  </div>

                <div id="form1">
                    <div id="form_id"> 아 이 디 <input id="user_id" name="userID" placeholder=" 사용할 아이디를 입력하세요."></input></div>
                    <div id="form_pw"> 비밀번호 <input type="password" id='user_pw' name="userPW1"></input></div>
                    <div id="form_pw2"> 비밀번호 재확인 <input type="password", id='user_pw2' class="pw"></div>
                </div>

                <div id="alert">
                    <div class="alert alert-success" id="alert-success" style="color: green;">비밀번호가 일치합니다.</div>
                    <div class="alert alert-danger" id="alert-danger" style="color: red;">비밀번호가 일치하지 않습니다.</div>
                </div>

                <div id="form2">
                    <div id="form_name">이 름<input type="text" name="userName" id="user_name1"></div>
                    <div id="form_birthday">생년월일<input type="date" name = 'userbirthDay' id="user_birthday" placeholder="YYYY/MM/DD"></div>
                    <div id="form_gender">
                        성 별
                        <select name="userGender">
                            <option value="남">남</option>
                            <option value="여">여</option>
                        </select></div>
                    <div id="form_email">이메일<input type="text" id="user_email" name="userEmail" placeholder="leenovelm@boram.com" ></div>
                    <div id="form_phone">휴대전화<input type="text" id='user_phone' name ='userPhone' placeholder="010-1234-5678"></div>

                </div>

                <div id="form3">
                    <div class="checkbox_group">
                        <p id="private">개인정보동의서</p>
                      <input type="checkbox" id="check_all" onchange='handleChange(this);'>
                      <label for="check_all">전체 동의</label>
                      <br>
                      <input type="checkbox" id="check_1" class="normal" >
                        <label for="check_1"><b>(필수)</b> 개인정보 처리방침 동의</label> <a href="javascript:openPop1()" style="color: lightslategray; cursor:pointer"><b>개인정보 처리방침 확인하기</b></a>
                      <br>
                      <input type="checkbox" id="check_2" class="normal" >
                      <label for="check_2"><b>(필수)</b> 서비스 이용약관 동의</label> <a href="javascript:openPop2()" style="color: lightslategray; cursor:pointer"><b>서비스 이용약관 확인하기</b></a>
                    </div>

                </div>

                <div id="form4">
                    <div id="form_submit"><input type="button" value="가입하기" id='target_btn' disabled="disabled"></div>
                    <div id="form_cancle"><input type="button" value="뒤로가기" onclick="location.href='../'" ></div>
                </div>
            </form>
        </div>
    </div>

    <div id="page_foot">
        <div id="foot_logo"></div>
        <div id="companyinfo">
            <p id="company_address">(주) 보람상조 | 서울특별시 강남구 언주로 508 4층(역삼동, 서울상록빌딩)</p>
            <p id="copyright">Copyright by BoramBooks Co., Ltd. All rights reserved.</p>
        </div>
    </div>

    <!-- 개인정보 팝업  -->
    <div class="popup_layer1" id="popup_layer1" style="display: none;">
        <div class="popup_box">
            <div style="height: 10px; width: 375px; float: top;">
                <a href="javascript:closePop();"></a>
            </div>
            <!--팝업 컨텐츠 영역-->
            <div class="popup_cont">
                <h5> 개인정보 처리방침 </h5>
                <p>
                    개인정보의 수집 및 이용 동의<br>
                    - 이용자가 제공한 모든 정보는 다음의 목적을 위해 활용하며,<br>하기 목적 이외의 용도로는 사용되지 않습니다.<br>
                    ① 개인정보 수집 항목 및 수집·이용 목적<br>
                    가) 수집 항목 (필수항목)<br>
                    - 이름, 생년월일, 성별, 이메일, 휴대전화 등<br>지원
                    신청서에 기재된 정보 또는 신청자가 제공한 정보<br>
                    나) 수집 및 이용 목적<br>
                    - 감성 회원 등록 및 관리<br>
                    - 감성 회원별 개인화 서비스<br>
                    - 감성 회원 로그 데이터 분석<br>
                    ② 개인정보 보유 및 이용기간<br>
                    - 수집·이용 동의일로부터 개인정보의 수집·이용목적을 달성할 때까지<br>
                    ③ 동의거부관리<br>
                    - 귀하께서는 본 안내에 따른 개인정보 수집, 이용에 대하여 동의를 거부하실 권리가 있습니다.<br> 다만,
                    귀하가 개인정보의 수집/이용에 동의를 거부하시는 경우에<br> 서비스 이용 과정에 있어 불이익 및 제한이 발생할 수
                    있음을 알려드립니다.<br>
                </p>

            </div>
            <!--팝업 버튼 영역-->
            <div class="popup_btn" style="float: bottom; margin-top: 200px;">
                <a href="javascript:closePop1();">닫기</a>
            </div>
        </div>
    </div>
    <div class="popup_layer2" id="popup_layer2" style="display: none;">
        <div class="popup_box">
            <div style="height: 10px; width: 375px; float: top;">
                <a href="javascript:closePop2();"></a>
            </div>
            <!--팝업 컨텐츠 영역-->
            <div class="popup_cont">
                <h5> 서비스 이용약관 </h5>
                <p>
                        본 보람서점 이용약관(이하 ‘본 약관’이라 함)은<br>본 서비스를 이용하는 고객(이하 ‘고객’이라 함)에게 제공하는 모든 제품<br> 및 서비스(이하 ‘본 서비스’라 함)의 이용에 관한 조건에 대해 정합니다.<br>

                        1. 정의<br>
                        본 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br>

                        1.1.‘콘텐츠’란 문장, 음성, 음악, 이미지, 동영상, 소프트웨어, 프로그램, 코드 및 기타 정보를 말합니다.<br>
                        1.2.‘본 콘텐츠’란 본 서비스를 통해 접속할 수 있는 콘텐츠를 말합니다.<br>
                        1.3.‘투고 콘텐츠’란 고객이 본 서비스에 투고, 송신 또는 업로드한 콘텐츠를 말합니다.<br>
                        1.4.‘코인’이란 본 서비스가 유상으로 제공하는 서비스 또는 콘텐츠와 교환 가능한 선불 결제 수단 등을 말합니다.<br>
                        1.5.‘개별 이용약관’이란 본 서비스에 관하여 본 약관과는 별도로 ‘약관’, 가이드라인’, ‘정책’ 등의 명칭으로 감성이 배포 또는 게시한 이용약관을 말합니다.<br>

                        2. 약관 동의<br>
                        2.1.고객은 본 약관에 따라 본 서비스를 이용해야 합니다. 고객은 본 약관에 대해 동의를 했을 경우에 한하여 본 서비스를 이용할 수 있습니다.<br>
                        2.2.고객이 미성년자일 경우에는 친권자 등 법정대리인의 사전 동의를 얻은 후 본 서비스를 이용하십시오. 또한 고객이 본 서비스를 사업자를 위해 이용할 경우에는 당해 사업자 역시 본 약관에 동의한 후, 본 서비스를 이용하십시오.<br>
                        2.3.본 서비스에 적용되는 개별 이용약관이 존재할 경우, 고객은 본 약관 외에 개별 이용약관의 규정에 따라 본 서비스를 이용해야 합니다.<br>

                        3. 약관 변경<br>
                        보람서점이 필요하다고 판단할 경우, 보람서점은 본 서비스 목적의 범위 내에서 본 약관을 변경할 수 있습니다.<br> 이때 보람서점은 본 약관의 변경본의 내용과 변경의 효력일을 본 서비스 또는 보람서점의 웹사이트에 게시하거나,<br> 이를 감성이 정한 방법으로 고객에게 통지하여야 합니다.<br>
                        본 약관의 변경본은 그 효력일로부터 효력이 발생합니다.<br>

                        4. 계정<br>
                        4.1.본 서비스 이용을 위해 고객은 특정 정보를 등록하여 계정을 생성해야 할 수 있습니다.<br>고객은 진실하고 정확하며 완전한 정보를 등록해야 하며 언제나 최신 정보가 적용되도록 수정해야 합니다.<br>
                        4.2.고객이 본 서비스 이용을 위해 인증 정보를 등록할 경우,<br> 이를 부정하게 이용당하지 않도록 본인 책임 하에 엄중하게 관리해야 합니다.<br> 감성은 등록된 인증 정보를 이용하여 이루어진 일체의 행위를 인증 정보를 등록한 고객 본인의 행위로 간주할 수 있습니다.<br>
                        4.3.본 서비스에 등록한 고객은 언제라도 계정을 삭제하고 탈퇴할 수 있습니다.<br>
                        4.4.보람서점은 마지막 접속 시점부터 １년 이상 경과한 계정을 해당 고객에 대한 사전 통지 없이 삭제할 수 있습니다.<br>
                        4.5.고객이 본 서비스에서 가지는 모든 이용 권한은 이유를 막론하고 계정이 삭제된 시점에 소멸됩니다.<br>고객의 실수로 계정을 삭제한 경우에도 계정을 복구할 수 없음에 유의하시기 바랍니다.<br>
                        4.6.본 서비스의 계정은 고객에게 일신전속적으로 귀속됩니다.<br>고객이 본 서비스에서 가지는 모든 이용권은 제삼자에게 양도, 대여 또는 처분할 수 없으며, 제삼자에게 상속 또는 승계될 수 없습니다.<br>

                        5. 프라이버시<br>
                        5.1.보람서점은 고객의 프라이버시를 존중합니다.<br>
                        5.2.보람서점은 고객의 프라이버시 정보와 개인정보를 LINE 개인정보 취급방침에 따라 적절하게 취급합니다.<br>
                        5.3.보람서점은 고객으로부터 수집한 모든 정보를 안전하게 관리하기 위해 보안에 최대한 주의를 기울이고 있습니다.<br>

                    </p>
            </div>
            <!--팝업 버튼 영역-->
            <div class="popup_btn" style="float: bottom; margin-top: 200px;">
                <a href="javascript:closePop2();">닫기</a>
            </div>
        </div>
    </div>

    <!-- 선택버튼1 -->
    <script>
        // 체크박스 전체 선택
        $(".checkbox_group").on("click", "#check_all", function () {
        var checked = $(this).is(":checked");

        if(checked){
            $(this).parents(".checkbox_group").find('input').prop("checked", true);
        } else {
            $(this).parents(".checkbox_group").find('input').prop("checked", false);
        }
        });
        // 체크박스 개별 선택
        $(".checkbox_group").on("click", ".normal", function() {
            var is_checked = true;

            $(".checkbox_group .normal").each(function(){
                is_checked = is_checked && $(this).is(":checked");
            });

            $("#check_all").prop("checked", is_checked);

        });
    </script>

    <!-- 선택버튼2 -->
    <script type="text/javascript">
        //새로고침할 때 체크 해제, 버튼 비활성화
        function uncheck() {
            $(':checkbox:checked').prop('checked', false);
            $('#target_btn').prop("disabled", "disabled");
        };
        //항목 다 체크해야 버튼 활성화
        function handleChange(checkbox) {
            if(checkbox.checked == true) {
                document.getElementById('target_btn').removeAttribute("disabled");
            } else{
                document.getElementById("target_btn").setAttribute("disabled", "disabled");
            }
        }
    </script>

    <!-- 개인정보 팝업창 -->
    <script>
        //팝업 열기
        function openPop1() {
            document.getElementById("popup_layer1").style.display = "block";

        }

        //팝업 닫기
        function closePop1() {
            document.getElementById("popup_layer1").style.display = "none";
        }

        function openPop2() {
            document.getElementById("popup_layer2").style.display = "block";

        }

        //팝업 닫기
        function closePop2() {
            document.getElementById("popup_layer2").style.display = "none";
        }
    </script>

</body>
</html>